.input {
   min-width: 250px;

   background: var(--background-color);

   border-radius: 50px;
   border: 2px solid var(--sub-text-color);

   color: var(--text-color);

   padding: 7px 17px;

   outline: none;

   transition: all 300ms ease;
}

.input::placeholder {
   color: var(--sub-text-color);
}

.input,
.input::placeholder {
   font-weight: 600;
}

.input:focus {
   border-color: var(--text-color);
}

.input__label {
   margin-left: 12px;
   margin-bottom: 4px;
   font-weight: 600;
   font-size: 0.9em;

   transition: all 300ms ease;
}
